html {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}
/* Header */
header {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: bolder;
    font-size: 4rem;
    color: black;
    text-align: center;
    margin-bottom: 150px;
}

/* Main */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main{
    min-width: 420px;
    border-radius: 25px;
    background-color: #ff369b;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.text {
    font-size: 1rem;
    text-align: center;
}

button {
    
    width: 250px;
    font-size: 4rem;
}


.btn{
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #614385 0%, #516395 51%, #614385 100%);
}

/* Footer */

.footer {
    font-size: 2rem;
    width: 100%;
    background-color: black;
    overflow: hidden;
    color: white;   
    margin-top: 150px;
}
a:active, a:visited, a:link{
    color: white;
  }
.footer-container{
    display:flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    height: 150px;
    margin: 25px 0 25px 0;
    
}
.label {
    display:flex;
    justify-content: center;
}
.social {
    display:flex;
    justify-content: center;
    gap: 25px;
    padding:15px;
}